SampleRWSProject/Service References/RWS/IGAWebServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://mailbox.ws.integration.metcash.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mailboxOrderAck">
    <xs:sequence>
      <xs:element minOccurs="0" name="batchId" type="xs:string" />
      <xs:element minOccurs="0" name="comments" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>